main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 25vw;
}
.row {
    display: flex;
    flex: 1;
    height: 10vh;

}
button {
    flex: 1;
}

#screen {
    background-color: lightgray;
    flex: 1;
}